:root {
    --margin: 30px 60px 0px 60px;
    --bborder: 0px;
    --bradius: 10px;
}
/*Introduction page*/
.intropage {
    text-align: center;
    margin: var(--margin);
    padding-top: 40px;
}
#start {
    padding: 10px 20px 10px 20px;
    background-color: lightgreen;
    border: var(--bborder);
    border-radius: var(--bradius);
    font-weight: bold;
}
#start:hover {
    background-color: rgb(0, 184, 0);
}
/* timer */
.timersec {
    display: none;
    text-align: right;
    size: 16px;
    margin-right: 60px;
}

#correctanswer {
    display: none;
    text-align: center;
}
#incorrectanswer {
    display: none;
    text-align: center;
}

/*Questions*/
.allquestions > section {
    display: none;
    margin: 0px 60px 0px 60px;
}
.allquestions > section > input {
    padding: 10px 20px 10px 20px;
    display: flex;
    width: 100%;
    background-color: orange;
    border: var(--bborder);
    border-radius: var(--bradius);
    margin: 2px;
}
.allquestions > section > input:hover {
    background-color: darkgoldenrod;
}

#results {
    display: none;
    text-align: center;
}